<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" ignoreExceptions="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%p{lowerCase=true}] %c{1} - %msg%n" />
		</Console>
		<RollingFile name="DebugLog" fileName="logs/robots_debug.log"
			filePattern="logs/robots_debug.log.%i">
			<PatternLayout pattern="%d %p [%t] %c - %msg%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
		<RollingFile name="ErrorLog" fileName="logs/robots_error.log"
			filePattern="logs/robots_error.log.%i">
			<PatternLayout pattern="%d %p [%t] %c - %msg%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" level="INFO" />
			<!--<AppenderRef ref="DebugLog" level="DEBUG" />-->
			<!--<AppenderRef ref="ErrorLog" level="ERROR" />-->
		</Root>
	</Loggers>
</Configuration>